<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.here.memo.dao.MemoMapper">

    <select id="selectMemoList" parameterType="com.here.memo.dto.MemoDto" resultType="com.here.memo.dto.MemoDto">
        SELECT memo_id, reg_date, user_id, title, memo_content, upd_id, upd_dt, reg_id, reg_dt
        FROM tb_memo
        WHERE reg_date between #{startDate}::date and #{endDate}::date
        ORDER BY memo_id DESC
    </select>

    <insert id="insertMemo" parameterType="com.here.memo.dto.MemoDto">
        INSERT INTO tb_memo(
             user_id,
             reg_date,
             title,
             memo_content,
             upd_id,
             upd_dt,
             reg_id,
             reg_dt
        )
        VALUES(
            #{userId},
            #{regDate}::date,
            #{title},
            #{memoContent},
            #{userId},
            now(),
            #{userId},
            now()
        );
    </insert>

    <update id="updateMemo" parameterType="com.here.memo.dto.MemoDto">
        UPDATE TB_MEMO SET
            title = #{title},
            memo_content = #{memoContent},
            upd_id = #{userId},
            upd_dt = now()
        WHERE memo_id = #{memoId}
        ;
    </update>

    <update id="deleteMemo" parameterType="com.here.memo.dto.MemoDto">
        DELETE FROM TB_MEMO WHERE memo_id = #{memoId};
    </update>

</mapper>